{{ define "main" }}
  <article class="article">
    <header class="article-header">
      {{ if not .Date.IsZero }}<p class="item-date">{{ .Date.Format "2006-01-02" }}</p>{{ end }}
      <h1>{{ .Title }}</h1>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
      {{ partial "post-taxonomies.html" . }}
    </header>
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
  {{ if and .Site.Params.comments.enabled (eq .Section "posts") (ne .Params.comments false) }}
    {{ partial "comments.html" . }}
  {{ end }}
{{ end }}
